<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Zumba con Nancy</li>
        <li>
          <a href="{% url 'clientes_app:inicio'%}">Inicio</a>
        </li>
        <li>
          <a href="{% url 'clientes_app:clientes_all'%}">Mostrar Clientes</a>
        </li>
        <li><a href="{% url 'clientes_app:clientes_admin'%}">Administrar clientes</a></li>
        <li><a href="{% url 'clientes_app:planes_list'%}">Planes</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar cliente"></li>
        <li><a href="{%url 'clientes_app:add_cliente'%}" class="button">Registrar nuevo</a></li>
      </ul>
    </div>
  </div>