{% extends 'base.html' %}{% block content %}
{% include 'includes/header.html' %}

{% block title %}
    Registrar cliente
{% endblock title %}

    <div class="grid-container">
        <div class="grid-x callout">
            <h1 class="cell">Registrar cliente</h1>
            <form class="cell grid-x  grid-margin-x" method="POST"> {% csrf_token %}
                <div class="medium-6 cell">
                    <label>Nombres:
                        {{form.name}}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Apellidos:
                        {{form.last_name}}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Tipo de plan:
                        {{form.Tipo_plan}}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Fecha de inicio:
                      <input type="date" {{form.fecha_inicio}}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Fecha de fin:
                        <input type="date" {{form.fecha_fin}}
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label>Estado:
                        {{form.state}}
                    </label>
                </div>
                <div class="medium-12 cell">
                    <button type="submit" class="success button">Guardar</button>
                </div>
            </form>    
        </div>
    </div>
{% endblock content %}
    
