{% extends 'base.html' %} 

{%block title%} Lista de clientes {%endblock title%}

{% block content %}
{% include 'includes/header.html' %}
<br>
<div class="grid-container">
    <div class="grid-x callout">
        <h1 class="cell">Lista de clientes</h1>
        <form class="cell grid-x grid-margin-x" method="GET"> {% csrf_token %}
            <div class="cell large-7 ">
                <input type="text" placeholder="Buscar cliente por dni" id="kword" name="kword">
            </div>
            <div class="cell large-2">
                <button type="submit" class="primary button">Buscar</button>
            </div>
        </form>
        <div class="cell">
            <table class="table-scroll" style="text-align: center;">
                <thead>
                  <tr  >
                    <th width="150"  style="text-align: center;">DNI</th>
                    <th width="150" style="text-align: center;">Nombres</th>
                    <th width="150">Apellidos</th>
                    <th width="150">Tipo de plan</th>
                    <th width="150">cantidad de clases disponibles</th>
                    <th width="150">Fecha de inicio</th>
                    <th width="200">Fecha de fin</th>
                    <th width="150"  style="text-align: center;" >Estado</th>
                    <th width="150"  style="text-align: center;">Accion</th>

                  </tr>
                </thead>
                <tbody>
                  {%for e in Lista_clientes%}
                  <tr>
                    <td>{{e.dni}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.last_name}}</td>
                    <td>{{e.Tipo_plan}}</td>
                    <td>{{e.clases}}</td>
                    <td>{{e.fecha_inicio}}</td>
                    <td>{{e.fecha_fin}}</td>
                    <td> 
                    {% if e.state is True %}
                      Activo
                    {% else %}
                     No Activo
                    {% endif %} </td>
                    <td>
                      
                      {% if e.clases > 0  %}
                      <a class="button primary"
                      href="{% url 'clientes_app:cliente_detail' e.id%}">Registrar clase</a></td>
                      {% endif %}
                        
                </tr>
                  {%endfor%}
                </tbody>
              </table>        
        </div>

        <div class="cell">
            {% if is_paginated%}
            <nav aria-label="Pagination">
                <ul class="pagination">
                    
                    {% if page_obj.has_previous %}                                             
                    <li class="pagination-previous ">
                        <a href="?page={{page_obj.previous_page_number}}"> Atras </a>
                    </li>
                    {% endif %}         
                    
                    {% for pagina in paginator.page_range %}

                    
                    {% ifequal pagina page_obj.number  %} 
                    <li class="current"><span class="show-for-sr">You're on page</span> {{pagina}}</li>

                    {% else %}
                    <li><a href="?page={{pagina}}">{{pagina}}</a></li>

                    {% endifequal %}
                      
                    {% endfor %}

                    {% if page_obj.has_next %}                                             
                    <li class="pagination-next">
                        <a href="?page={{page_obj.next_page_number}}"> Siguiente </a>
                    </li>
                    {% endif %}         

                </ul>
              </nav>
            {% endif %}
                
        </div>
    </div>
    
</div>
{% endblock content %}


