{% extends 'base.html' %}

{% block title %}
    Eliminar cliente
{% endblock title %}
    

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container callout">
        <div class="grid-x">
            <h1 class="cell">Eliminar Cliente: {{object.name}}  {{object.last_name}}  </h1>
    
                <form class="cell" method="POST"> {% csrf_token %}
                    <div class="callout secondary">
                        <h5>¿Desea eliminar este cliente?</h5>
                        <button type="submit" class="alert button">Confirmar</button>
                    </div>
                </form>
        </div>
    </div>
{% endblock content %}
    
