{%extends 'base.html'%}

{% block title %}
    Lista de Planes
{% endblock title %}
    

{% block content %}
    {% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista de Planes</h1>
    </div>
    <div class="cell">
        <table style="text-align: center;" >
            <tbody>
                
                <tr>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad de clases</th>
                </tr>
                {% for plan in planes %}                     
                <tr>
                    <td>{{plan.description}}</td>
                    <td>$ {{plan.precio}}</td>
                    <td>{{plan.Cantidad_Clases}}</td>
                    <td><a class="button warning" href="{% url 'clientes_app:clientes_by_plan' plan.id %}">Ver Clientes</a></td>
                    <td><a class="button primary" href="{% url 'clientes_app:update_plan' plan.id %}">Modificar plan</a></td>
                    <td><a class="button alert" href="{% url 'clientes_app:delete_plan' plan.id %}">Eliminar plan</a></td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
        <div style="text-align: center;" >
            <a class="button success" href="{% url 'clientes_app:add_plan' %}">Añadir Plan</a>
        </div>
    </div>
</div>
{% endblock content %}
    